
<div class="cont-outer">
  <p><%= link_to"services",services_path,:style=>"margin:10px 0 0 20px;text-decoration:none;" %> >> mobility</p>
  <div class="cont-inr">
    <div class="cont-lft">

      <br/>
      <h1 style="font-size:17px;">Mobility</h1>
      <br/>
      <div style="margin-top:10px;font-size:25px;">
        <p style="font-size:15px;">We have expertise of developing applications for Mobile and HandHeld Devices using different types of platforms and environments. We have capabilities on most popular smartphone platforms such as Android, iPhone, iPad, Symbian, Windows Mobile and Blackberry expertise. We have certified engineers, in-house testing and porting tools. Our expertise and technology ensure that your application work across a wide variety of networks and devices. We deliver unique applications with innovation and quality, on-time and within the budget.
</p>
<br/>
<ul style="font-size:15px;"><h3>Our services include:</h3>

  <li>Mobile Application Development</li>
<li>Application Porting & Localization</li>
<li>Application & Device Testing(manual & simulated)</li>
<li>Mobile Web</li>
</ul>
</br>
<p style="font-size:15px;"> Mobile Application development is a challenging exercise for most of the companies.But our team has capability to accept this challenge.Through a continuing learning process they are aware of recent and latest mobile tecnologies.  Oseror is available to address this scenario by rapidly developing and deploying applications matching various types of customer needs.</p>
      </div>
    </div>

    <div class="cont-rgt">

      <div class="cont-rgt">
        <%= render "shared/right_content" %>
      </div>

    </div>

    <!--/Content Right-->

  </div>

</div>

