
<div class="cont-outer">
  <p><%= link_to"services",services_path,:style=>"margin:10px 0 0 20px;text-decoration:none;" %> >> test enginering</p>
  <div class="cont-inr">
    	<div class="cont-lft">

<br/>
<h1 style="font-size:17px;">Test engineering</h1>
<br/>
<div style="margin-top:70px;text-align: center">
  <blink style="color:red;font-size:18px">This page is  in under construction</blink></div>
</div>

<div class="cont-rgt">

            <div class="connect">
            	<h2>Connect with us:</h2>
                <ul>
                	<li><a href="#" title=""><img src="../images/icon-gtalk.png" alt="" /></a></li>
                    <li><a href="#" title=""><img src="../images/icon-skype.png" alt="" /></a></li>
                    <li><a href="#" title=""><img src="../images/icon-people.png" alt="" /></a></li>
                </ul>
            </div>
            <!--News and Press-->
            <div class="news-outer">
            	<h2>News and Press:</h2>
                <div class="neswbox">
                	<p>The work has been great and has required little further direction to complete all of the tasks assigned. The provider is always thinking what is best for the project<br />...</p>
                    <a href="web-developement.html" title="Web Developement" class="more">more</a>
                 </div>
                 <div class="neswbox">
                	<p>Oseror did an excellent job on our project. They gave us more than we expected without demand extra<br />...</p>
                    <a href="web-developement.html" title="Web Developement" class="more">more</a>
                 </div>
            </div>
            <!--/News and Press-->

            <!--Free Quote-->
            <div class="free-quote">
            	<div class="quote-caption">
                	<h2>Free Quote Now:</h2>
                </div>
                <form action="#" method="post" id="Quote">
                    	<div class="formouter">
                        	<div class="label-sp">
                            	<div class="label-title"><label>Name:</label></div>
                                <div class="label-txt"><input type="text" id="name" name="name" /></div>
                            </div>
                            <div class="label-sp">
                            	<div class="label-title"><label>Phone:</label></div>
                                <div class="label-txt"><input type="text" id="phone" name="phone" /></div>
                            </div>
                            <div class="label-sp">
                            	<div class="label-title"><label>Mobile:</label></div>
                                <div class="label-txt"><input type="text" id="mobile" name="mobile" /></div>
                            </div>
                            <div class="label-sp">
                            	<div class="label-title"><label>Phone:</label></div>
                                <div class="label-txt"><input type="text" id="email" name="email" /></div>
                            </div>
                            <div class="label-sp">
                            	<div class="label-txt">
                                	<input type="submit" name="submit" id="submit" value="Submit" class="btnsubmit" />
                                </div>
                            </div>
                        </div>
                </form>

            </div>
            <!--/Free Quote-->

        </div>

        <!--/Content Right-->

    </div>

</div>

