
<div class="cont-outer">
  <p><%= link_to"services",services_path,:style=>"margin:10px 0 0 20px;text-decoration:none;" %> >> web development</p>
  <div class="cont-inr">
    <div class="cont-lft">

      <br/>
      <h1 style="font-size:17px;">Web development</h1>
      <br/>
      <div style="margin-top:10px;">
        <p>We provide customized web application solutions to achieve a competitive edge over others by finding out the missing factor in functions offered by different packages and working on them. Our expertise in dealing with businesses and technical platforms enables us to offer a good quality, complete life-cycle development services, necessity for gathering definition with the help of delivery and working of web solutions. Our dedicated team of software professionals has invested a lot of time in gaining experience and in understanding how to develop softwares for commercial purpose in order to cater to the various business organizations and their technical requirements.</p>
        </br>
        <h3>OUR APPLICATION DEVELOPMENT METHODOLOGY : </h3>
        * gathering requirements & Functional Specifications
    * Define a architechture base on requirements
    * Design a prototype model according to the system
    * send it for client's verification
    * if no customize prototype again
    * if yes Developing customized application
    * Enabling the process of Testing & System Testing
    * Test & QA for understanding user acceptance and feedback
    * Rolling out the application in a production environment
    </br>
    <p>Our team of experts in developing such application softwares is highly experienced and proficient in designing advanced multiple applications with the help of data integration for developing the same with the help of latest and advance web technology. We deliver the best and quality web solutions in the minimum possible time and at an affordable price.</p>
 </div>
    </div>
        <!--Content Right-->
    <div class="cont-rgt">
      <%= render "shared/right_content" %>
    </div>

    <!--/Content Right-->
  </div>

</div>

