
<div class="cont-outer">
  <p><%= link_to"services",services_path,:style=>"margin:10px 0 0 20px;text-decoration:none;" %> >> web development</p>
  <div class="cont-inr">
    <div class="cont-lft">

      <br/>
      <h1 style="font-size:17px;">Web development</h1>
      <br/>
      <div style="margin-top:70px;text-align: center">
        <blink style="color:red;font-size:18px">This page is  in under construction</blink></div>
    </div>
        <!--Content Right-->
    <div class="cont-rgt">
      <%= render "shared/right_content" %>
    </div>

    <!--/Content Right-->
  </div>

</div>

