<div class="spacer"></div>
<!--FOOTER-->
<div id="footer">
	<!--Top-->
    <div class="footer-top-outer">
    	<div class="footer-top-inr">
              <div class="footer-top-lft">
            	<ul>
                	<li>Services</li>
                    <li><a href="/services/web_development" title="Web Developement">Web Developement</a></li>
                    <li><a href="/services/mobility" title="Mobility">Mobility</a></li>
                    <li><a href="/services/outsourcing" title="Outsourcing">Outsourcing</a></li>
                    <li><a href="/services/design" title="Design">Design</a></li>
                    <li><a href="test-enginnering.html" title="Test Enginnering">Test Enginnering</a></li>
                </ul>

                <ul>
                	<li>Product</li>
                    <li><a href="#" title="">osemail</a></li>

                </ul>

                <ul>
                	<li>Application Developement</li>
                    <li><a href="cms.html" title="CMS">CMS</a></li>
                    <li><a href="ruby-on-rails.html" title="Ruby on Rails">Ruby on Rails</a></li>
                    <li><a href="facebook-apps.html" title="Facebook Apps">Facebook Apps</a></li>
                </ul>
            </div>
            <!--
            <div class="footer-top-rgt">
            	<ul class="footer-contact">
                	<li class="mail">Email: <a href="mailto:support@oseror.com" title="">support@oseror.com</a></li>
                    <li class="phone">Phone:+91 33 412565469</li>
                </ul>
                <a href="#" title="Online Support"><img src="../images/clip-online-suport.png" alt="" class="f-rgt" /></a>
                <div class="payment-option">
                	<ul>
                    	<li>WE ACCEPT : </li>
                        <li><img src="../images/paypal.png" alt="Paypal" /></li>
                        <li><img src="../images/hdfc.png" alt="HDFC" /></li>
                    </ul>
                </div>
            </div>
            -->

        </div>
    </div>
    <!--/Top-->
    <!--Bottom-->
    <div class="footer-botm-outer">
    	<div class="footer-botm-inr">
        	<p class="copyight">&copy; 2013, Oseror, All right reserved</p>
            <ul class="foot-links">
            	<li><a href="/" title="Home">Home</a></li>
                <li>|</li>
                <li><a href="/company" title="About Us">About Us</a></li>
                <li>|</li>
                <li><a href="/contacts/new" title="Services">Contact us</a></li>
                <li>|</li>
                <li><a href="<%= terms_homes_path %>" title="Terms of Use">Terms of Use</a></li>
                <li>|</li>
                <li><a href="homes/privacy" title="Privacy Statement">Privacy Statement</a></li>
            </ul>
        </div>
    </div>

    <!--/Bottom-->


</div>
<!--/FOOTER-->
