
            <div class="connect">
            	<h2>Connect with us:</h2>
                <ul>
                	<li><a href="#" title=""><img src="../images/icon-gtalk.png" alt="" /></a></li>
                    <li><a href="#" title=""><img src="../images/icon-skype.png" alt="" /></a></li>
                    <li><a href="#" title=""><img src="../images/icon-people.png" alt="" /></a></li>
                </ul>
            </div>
            
            <!--News and Press-->
            <!--
            <div class="news-outer">
            	<h2>News and Press:</h2>
                <div class="neswbox">
                	<p>The work has been great and has required little further direction to complete all of the tasks assigned. The provider is always thinking what is best for the project<br />...</p>
                    <a href="web-developement.html" title="Web Developement" class="more">more</a>
                 </div>
                 <div class="neswbox">
                	<p>Oseror did an excellent job on our project. They gave us more than we expected without demand extra<br />...</p>
                    <a href="web-developement.html" title="Web Developement" class="more">more</a>
                 </div>
            </div>
             -->
            <!--/News and Press-->
           
            <!--Free Quote-->
            <div class="free-quote">
            	<div class="quote-caption">
                	<h2>Free Quote Now:</h2>
                </div>
                <form action="#" method="post" id="Quote">
                    	<div class="formouter">
                        	<div class="label-sp">
                            	<div class="label-title"><label>Name:</label></div>
                                <div class="label-txt"><input type="text" id="name" name="name" /></div>
                            </div>
                            <div class="label-sp">
                            	<div class="label-title"><label>Phone:</label></div>
                                <div class="label-txt"><input type="text" id="phone" name="phone" /></div>
                            </div>
                            <div class="label-sp">
                            	<div class="label-title"><label>Mobile:</label></div>
                                <div class="label-txt"><input type="text" id="mobile" name="mobile" /></div>
                            </div>
                            <div class="label-sp">
                            	<div class="label-title"><label>Phone:</label></div>
                                <div class="label-txt"><input type="text" id="email" name="email" /></div>
                            </div>
                            <div class="label-sp">
                            	
                                	<input type="submit" name="submit" id="submit" value="Submit" class="btnsubmit" />
                               
                            </div>
                        </div>
                </form>

            </div>
            <!--/Free Quote-->
            <div style="border: 1px grey solid; margin: 10px 0; padding: 5px;">
                <div class="footer-top-rgt">
                    <ul class="footer-contact">
                        <li class="mail">Email: <a href="mailto:support@oseror.com" title="">support@oseror.com</a></li>
                       <li class="phone">Phone:+91 33 412565469</li>
                    </ul>
                    <a href="#" title="Online Support"><img src="../images/clip-online-suport.png" alt="" class="f-rgt" style="width:255px;"/></a>
                    <div class="payment-option" style="width:245px;">
                        <ul>
                           <li>WE ACCEPT : </li>
                            <li><img src="../images/paypal.png" alt="Paypal" style="width:20px;"/></li>
                            <li><img src="../images/hdfc.png" alt="HDFC" /></li>
                        </ul>
                    </div>
                </div>
                <div style="clear:both;"></div>
            </div>

