

<!-- Wrapper Container Starts here -->
<div id="mainContainer">
  
  <!-- Body Container Starts here -->
  <div id="bodyContainer">
    <!-- Banner Container Starts here -->
    <div class="hero-container"><!-- InstanceBeginEditable name="EditRegion1" -->
      <div id="slides">
        <div class="slides_container" style="height:250px;border:1px solid red;background-color:#4a9f86;">
          <!--<a href="#"><img src="../images/banner.png" alt="Big Data - Quick Impact, Infinite Possibilities" title="Big Data - Quick Impact, Infinite Possibilities"/></a> <a href="#"><img src="../images/banner2.jpg" alt="Big Data - Realize your data value" title="Big Data - Realize your data value"/></a> <a href="#"><img src="../images/banner3.jpg" alt="Big Data - Proven Expertise in Hadoop & Big Data Analytics" title="Big Data - Proven Expertise in Hadoop & Big Data Analytics"/>
          </a> -->
          <img src="../images/banner.jpg" style="margin:100px;"></img>

        </div>
      </div>
      <!-- InstanceEndEditable --></div>

    <!-- Banner Container Ends here -->
    <!-- Small Banner Container Starts here -->
    <!-- InstanceBeginEditable name="EditRegion2" -->
    <div class="small-hero-container">
      <h1 align="center" style="padding: 0px 0 5px 0;font:bold 30px Arial;color:#AC0D2D;">Welcome to OSEror</h1>
      <div class="abt_header_txt" style="font-size:20px; line-height:24px; color:#000; margin-bottom:20px;">We are expert team of Ruby on Rails and poised to become the world's best RoR development company.</div>
      
      <div class="small-hero-content-container" >
        <h1 style="font-size:26px">We are the experts at : </h1>
        <div align="center"  style="border:1px solid gray;height:200px;width:930px;padding: 15px">
          <img src="images/rails.png">
          <img src="images/expert/athorized.gif"style="margin:10px"><img src="images/expert/facebook_logo.png"style="margin:10px"><img src="images/expert/twitter_32.png"style="margin:10px">
  </div>
      <!-- Small Banner Container 4 Starts here -->
        <!--<div class="small-hero-div" onclick="javascript:window.location.href='../services/enterprise_web.html'">
          <h1 class="border-green">Enterprise Web</h1>
          <div class="small-hero-image">
            <div class="small-hero-4 heroimage"></div>
            <p class="small-text"><a href="../services/enterprise-web.html">Let us build robust, reliable, and scalable enterprise web for you..</a></p>
          </div>
        </div>
        <!-- Small Banner Container 4 Ends here -->
        <!-- Small Banner Container 1 Starts here -->
        <!--<div class="small-hero-div" onclick="javascript:window.location.href='../services/big_data.html'">
          <h1 class="border-red">Big Data</h1>
          <div class="small-hero-image">
            <div class="small-hero-1 heroimage"></div>
            <p class="small-text no-padding"><a href="../services/big-data.html">Leverage your data to achieve actionable insight using our big data experts</a></p>
          </div>
        </div>
        <!-- Small Banner Container 1 Ends here -->
        <!-- Small Banner Container 2 Starts here -->
        <!--<div class="small-hero-div" onclick="javascript:window.location.href='../services/mobility.html'">
          <h1 class="border-blue">Mobility</h1>
          <div class="small-hero-image">
            <div class="small-hero-2 heroimage"></div>
            <p class="small-text"><a href="../services/mobility.html">Successfully embrace mobility in the enterprise. Learn more..</a></p>
          </div>
        </div>
        <!-- Small Banner Container 2 Ends here -->
        <!-- Small Banner Container 3 Starts here -->
        <!--<div class="small-hero-div" onclick="javascript:window.location.href='../services/test_engineering.html'">
          <h1 class="border-yellow">Test Engineering</h1>
          <div class="small-hero-image">
            <div class="small-hero-3 heroimage"></div>
            <p class="small-text"><a href="../services/test-engineering.html">Deliver Predictable quality using our testing services..</a></p>
          </div>
        </div>
        <!-- Small Banner Container 3 Ends here -->

     </div>
    </div>
    <!-- InstanceEndEditable -->
    <!-- Small Banner Container Ends here -->
  </div>
  <!-- Body Container Ends here -->
  <!-- InstanceBeginEditable name="EditRegion4" --><!-- #BeginLibraryItem "/library/common/footer.lbi" --><div id="footerContainer">
  
</div><!-- #EndLibraryItem --><!-- InstanceEndEditable -->
  <!-- Footer Container Ends here -->
</div>
<!-- Wrapper Container Ends here -->
<script type="text/javascript">_changeNavigation("home","home")</script>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-3944304-1");
pageTracker._trackPageview();
} catch(err) {}</script>


