<!--Header Bottom-->
<div class="header-botm-outer">
  <div class="hedr-botm-inr">
    <div class="header-botm-inr-main">
      <div class="bannerlft">
        <h2>Open Source Expert In Ruby On Rails</h2><br /><br />
        <p>Oseror Web development company in India offers web developer services and graphic designing services in India.</p>
        <br /><br />
        <a href="#"><img src="images/btn-1.jpg" alt="" /></a>
      </div>

      <div class="bannerrgt">
      </div>
    </div>
  </div>
</div>
<!--/Header Bottom-->

<!--HEADER END-->
<div class="spacer"></div>

<!--CONTENT START-->
<div class="cont-outer">
  <div class="cont-inr">
    <div class="cont-lft">
      <h2>We are expert team of Ruby on Rails and poised to become the best Ruby On Rails development company.
      </h2>
      <p>OSEROR offers a wide range of IT services ranging from Software development, Website designing, e-commerce online solutions, Test engineering, Mobile application and Linux solutions.
      </p>
      <br/>
      <p>We are committed to excellence in our services and work towards delivering high quality IT services to our customers.</p>
      <div class="app-box">
        <div class="app-head-out">
          <h2>Web Development</h2>
          <div class="app-head-rgt"></div>
        </div>
        <p>We deliver the best and quality web application in the minimum possible time and at an affordable price. By following agile and scrum methodology we develop Web product, E-Commerce based Web Products, Health care web application Web Application Out Sourcing, Web Development, Web sites etc.</p>
        <div class="appbox-links">
          <a href="/services/web_development" title="Web Developement" class="more">more</a>
        </div>
      </div>

      <div class="app-box no-marg-rgt">
        <div class="app-head-out">
          <h2>Mobility</h2>
          <div class="app-head-rgt"></div>
        </div>
        <p>OSEROR expert team already have proven their expertise on mobile apps development. This services  help our valuable clients to develop  and design mobility solutions.</p>
        <div class="appbox-links">
          <a href="/services/mobility" title="Web Developement" class="more">more</a>
        </div>
      </div>


      <div class="app-box">
        <div class="app-head-out">
          <h2>Outsourcing</h2>
          <div class="app-head-rgt"></div>
        </div>
        <p>We design Outsourcing services fore those customer who wants better service with minimal time.We build relationship with customers for years. </p>
        <div class="appbox-links">
          <a href="/services/outsourcing" title="outsourcing" class="more">more</a>
        </div>
      </div>


      <div class="app-box no-marg-rgt">
        <div class="app-head-out">
          <h2>Design</h2>
          <div class="app-head-rgt"></div>
        </div>
        <p>We offers customer oriented web site designing services and more importantly deliver them effectively
        </p>
        <div class="appbox-links">
          <a href="/services/design" title="Web Developement" class="more">more</a>
        </div>
      </div>

      <br class="spacer" />

      <!--Technology-->
      <div class="tech-outer">
        <ul class="techicons">
          <li class="pad-top-40">Technology we use</li>
          <li><span><img src="images/icon-rails.jpg" alt="Ruby on Rails" /></span></li>
          <li><span><img src="images/icon-wordpress.jpg" alt="Wordpress" /></span></li>
        </ul>
      </div>
      <!--/Technology-->

      <!--Clients-->
      <div class="clients">
        <h3>Clients:</h3>
        <ul>
          <li><img src="images/logo-clients-1.jpg" alt="" /></li>
          <li><img src="images/logo-clients-2.jpg" alt="" /></li>
          <li><img src="images/logo-clients-1.jpg" alt="" /></li>

        </ul>
      </div>

      <!--/Clients-->
    </div>

    <!--Content Right-->
    <div class="cont-rgt">
      <a href="#" title="Download Brochure"><img src="images/btn-download-brochure.png" alt="Download Brochure" /></a>
      <div class="connect">
        <h2>Connect with us:</h2>
        <ul>
          <li><a href="#" title=""><img src="images/icon-gtalk.png" alt="" /></a></li>
          <li><a href="#" title=""><img src="images/icon-skype.png" alt="" /></a></li>
          <li><a href="#" title=""><img src="images/icon-people.png" alt="" /></a></li>
        </ul>
      </div>
      <!--News and Press-->
      <div class="news-outer">
        <h2>News and Press:</h2>
        <div class="neswbox">
          <p>The work has been great and has required little further direction to complete all of the tasks assigned. The provider is always thinking what is best for the project<br />...</p>
          <a href="web-developement.html" title="Web Developement" class="more">more</a>
        </div>
        <div class="neswbox">
          <p>OSEROR did an excellent job on our project. They gave us more than we expected without demand extra<br />...</p>
          <a href="web-developement.html" title="Web Developement" class="more">more</a>
        </div>
      </div>
      <!--/News and Press-->

      <!--Free Quote-->
      <div class="free-quote">
        <div class="quote-caption">
          <h2>Free Quote Now:</h2>
        </div>
        <form action="#" method="post" id="Quote">
          <div class="formouter">
            <div class="label-sp">
              <div class="label-title"><label>Name:</label></div>
              <div class="label-txt"><input type="text" id="name" name="name" /></div>
            </div>
            <div class="label-sp">
              <div class="label-title"><label>Phone:</label></div>
              <div class="label-txt"><input type="text" id="phone" name="phone" /></div>
            </div>
            <div class="label-sp">
              <div class="label-title"><label>Mobile:</label></div>
              <div class="label-txt"><input type="text" id="mobile" name="mobile" /></div>
            </div>
            <div class="label-sp">
              <div class="label-title"><label>Comments:</label></div>
              <div class="label-txt"><input type="textarea" id="comments" name="comments" rows="4" cols="50" /></div>
            </div>
            <div class="label-sp">
              <div >
                <input type="submit" name="submit" id="submit" value="Submit" class="btnsubmit" />
              </div>
            </div>
          </div>
        </form>

      </div>
      <!--/Free Quote-->

    </div>

    <!--/Content Right-->

  </div>

</div>
<!--/CONTENT-->
