<!--Header Bottom-->
    <div class="header-botm-outer">
        <div class="hedr-botm-inr">
           <div class="header-botm-inr-main">
               <div class="bannerlft">
                <h2>Lorem ipsum dolor sit amet</h2><br /><br />
                <p>Oserror Web development company in india offers web developer services and graphic designing services in india.</p>
                <br /><br />
                <a href="#"><img src="/images/btn-1.jpg" alt="" /></a>
            </div>
            <!--SLIDE - PORTFOLIO-->
            <div class="bannerrgt">
                <div id="controller" class="hidden">
        <span class="jFlowControl jFlowSelected"></span>
        <span class="jFlowControl"></span>
        <span class="jFlowControl"></span>
    </div>

    <div id="prevNext" style="position:relative">
        <img src="images/prev.png" alt="Previous Tab" class="jFlowPrev" style="position:absolute; top:95px; left:-7px">
        <img src="images/next.png" alt="Next Tab" class="jFlowNext" style="position:absolute; top:95px; left:426px">
    </div>

    <%#*<div class="slide-position" id="jFlowSlide">%>
    <%#*<div style="width: 380px; height: 214px; overflow: hidden;" id="slides">%>
        <%#*<div style="width: 381px; height: 214px; float: left;" class="jFlowSlideContainer"><div><img src="images/project-1.png" alt="photo"><a href="#" class="project-name">http://www.conacenttechnology.com</a></div></div>%>
        <%#*<div style="width: 381px; height: 214px; float: left;" class="jFlowSlideContainer"><div><img src="images/project-1.png" alt="photo"><a href="#" class="project-name">http://www.conacenttechnology.com</a></div></div>%>
        <%#*<div style="width: 381px; height: 214px; float: left;" class="jFlowSlideContainer"><div><img src="images/project-1.png" alt="photo"><a href="#" class="project-name">http://www.conacenttechnology.com</a></div></div>%>
    <%#*</div>%>
    <%#*</div>%>
            </div>
            <!--/SLIDE - PORTFOLIO-->
           </div>
         </div>
    </div>
    <!--/Header Bottom-->
<!--CONTENT START-->
<div class="cont-outer">
    <div class="cont-inr">
        <div class="cont-lft">
            <h2>Top web designing company from india which provides broad market exposure to every business.</h2>
            <p>Lorem ipsum dolor sit amet consectutor adipicing dolor lorem ipsum dolor sit amet consectutor adipicing dolor  lorem ipsum dolor sit amet consectutor adipicing dolor lorem ipsum dolor sit amet consectutor adipicing dolor lorem ipsum dolor sit amet consectutor adipicing dolor lorem ipsum dolor sit amet consectutor adipicing dolor lorem ipsum dolor sit amet consectutor adipicing dolor lorem ipsum dolor sit amet consectutor adipicing dolor lorem ipsum dolor sit amet consectutor adipicing dolor lorem ipsum dolor sit amet consectutor adipicing dolor lorem ipsum dolor sit amet consectutor adipicing dolor lorem ipsum dolor sit amet consectutor adipicing dolor lorem ipsum dolor sit amet consectutor adipicing dolor lorem ipsum dolor sit amet consectutor adipicing dolor lorem ipsum dolor sit amet consectutor adipicing dolor lorem ipsum dolor sit amet consectutor adipicing dolor</p>
            <div class="app-box">
            <div class="app-head-out">
                <h2>Web Developement</h2>
                 <!--<div class="app-head-rgt"></div>    -->
            </div>
            <div class="web-development-details"><p>Lorem ipsum dolor sit amet<br /> consectutor adipicing lorem<br /> ipsum dolor sit amet<br /> consectutor adipicing ipsum<br /> dolor sit amet<br /> consectutor adipicing lorem <br />dolor sit</p></div>
            <div class="appbox-links">
                <a href="web-developement.html" title="Web Developement" class="more">more</a>
            </div>
        </div>

        <div class="app-box no-marg-rgt">
            <div class="app-head-out">
                <h2>Mobility</h2>
                 <!--<div class="app-head-rgt"></div>       -->
            </div>
            <div class="mobility-details"><p>Lorem ipsum dolor sit amet<br /> consectutor adipicing lorem<br /> ipsum dolor sit amet<br /> consectutor adipicing ipsum<br /> dolor sit amet<br /> consectutor adipicing lorem <br /></p></div>
            <div class="appbox-links">
                <a href="web-developement.html" title="Web Developement" class="more">more</a>
            </div>
        </div>


        <div class="app-box">
            <div class="app-head-out">
                <h2>Outsourcing</h2>
                 <div class="app-head-rgt"></div>
            </div>
            <div class="outsourcing-details"><p>Lorem ipsum dolor sit amet<br /> consectutor adipicing lorem<br /> ipsum dolor sit amet<br /> consectutor adipicing ipsum<br /> dolor sit amet<br /> consectutor adipicing lorem <br /></p></div>
            <div class="appbox-links">
                <a href="web-developement.html" title="Web Developement" class="more">more</a>
            </div>
        </div>


        <div class="app-box no-marg-rgt">
            <div class="app-head-out">
                <h2>Design</h2>
                 <div class="app-head-rgt"></div>
            </div>
            <div class="design-details"><p>Lorem ipsum dolor sit amet<br /> consectutor adipicing<br /> lorem ipsum dolor sit amet<br /> consectutor adipicing ipsum<br /> dolor sit amet<br /> consectutor adipicing lorem <br /></p></div>
            <div class="appbox-links">
                <a href="web-developement.html" title="Web Developement" class="more">more</a>
            </div>
        </div>

        <br class="spacer" />

        <!--Technology-->
        <div class="tech-outer">
            <ul class="techicons">
                <li class="pad-top-40">Technology we use</li>
                <li><span><img src="images/icon-rails.jpg" alt="Ruby on Rails" /></span></li>
                <li><span><img src="images/icon-wordpress.jpg" alt="Wordpress" /></span></li>
              </ul>
        </div>
        <!--/Technology-->

        <!--Clients-->
         <div class="clients">
             <h3>Clients:</h3>
            <ul>
                <li><img src="images/logo-clients-1.jpg" alt="" /></li>
                <li><img src="images/logo-clients-2.jpg" alt="" /></li>
                <li><img src="images/logo-clients-1.jpg" alt="" /></li>

            </ul>
         </div>

        <!--/Clients-->
        </div>

        <!--Content Right-->
        <div class="cont-rgt">
            <a href="#" title="Download Brochure"><img src="images/btn-download-brochure.png" alt="Download Brochure" /></a>
            <div class="connect">
                <h2>Connect with us:</h2>
                <ul>
                    <li><a href="#" title=""><img src="images/icon-gtalk.png" alt="" /></a></li>
                    <li><a href="#" title=""><img src="images/icon-skype.png" alt="" /></a></li>
                    <li><a href="#" title=""><img src="images/icon-people.png" alt="" /></a></li>
                </ul>
            </div>
            <!--News and Press-->
            <div class="news-outer">
                <h2>News and Press:</h2>
                <div class="neswbox">
                    <p>Lorem ipsum dolor sit amet lorem ipsum dolor sit amet<br />...</p>
                    <a href="web-developement.html" title="Web Developement" class="more">more</a>
                 </div>
                 <div class="neswbox">
                    <p>Lorem ipsum dolor sit amet lorem ipsum dolor sit amet<br />...</p>
                    <a href="web-developement.html" title="Web Developement" class="more">more</a>
                 </div>
            </div>
            <!--/News and Press-->

            <!--Free Quote-->
            <div class="free-quote">
                <div class="quote-caption">
                    <h2>Free Quote Now:</h2>
                </div>
                <form action="#" method="post" id="Quote">
                        <div class="formouter">
                            <div class="label-sp">
                                <div class="label-title"><label>Name:</label></div>
                                <div class="label-txt"><input type="text" id="name" name="name" /></div>
                            </div>
                            <div class="label-sp">
                                <div class="label-title"><label>Phone:</label></div>
                                <div class="label-txt"><input type="text" id="phone" name="phone" /></div>
                            </div>
                            <div class="label-sp">
                                <div class="label-title"><label>Mobile:</label></div>
                                <div class="label-txt"><input type="text" id="mobile" name="mobile" /></div>
                            </div>
                            <div class="label-sp">
                                <div class="label-title"><label>Phone:</label></div>
                                <div class="label-txt"><input type="text" id="email" name="email" /></div>
                            </div>
                            <div class="label-sp">
                                <div class="label-txt">
                                    <input type="submit" name="submit" id="submit" value="Submit" class="btnsubmit" />
                                </div>
                            </div>
                        </div>
                </form>

            </div>
            <!--/Free Quote-->

        </div>

        <!--/Content Right-->

    </div>

</div>
<!--/CONTENT-->