<style type="text/stylesheet">
  .news-outer li.a {
font: bold 12px "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif;
color: #666;
display: block;
position: relative;
width: auto;
padding: 4px 0;
padding-left: 10px;
text-decoration: none;
}
</style>
<div class="cont-outer">
  <div class="cont-inr">
    <div class="cont-lft">
      <br/>
      <h1 style="font-size:17px;">About Us</h1>
      <br/>
      <div style="">
        <div class="news-outer" style="margin-right:15px;float:left;min-height:300px;width:150px;">
          <ul>
            <li ><a href="#" title=""><span class="glossymenu">About Company</span></a></li>
          <li><a href="#" title="">Engagement model</a></li>
          <li><a href="#" title="">Why Us?</a></li>
        </ul>
        </div>
        <div class="news-outer"style="float:left;min-height:300px;width:448px;">
          <p>Oseror provides enterprise Web solutions and services to help business of any size unlock the value of the collective intelligence, insights, and creativity of the entire organization and turn it into competitive advantage

We provide the best services in providing perfect and quality web solutions for offshore as well as locally-based small or medium or large business enterprises.</p>

<p>We have higlly experienced dedicated Professionals ad engineers  to provide total IT solutions under one roof. They all are awre of day to day updated technology though a continuing upgradation process.</p>

<p>Our focus and  mission is to derive solutions and services that offer compelling value and deliver real business benefits. </p>

        </div>
      </div>
    </div>

    <div class="cont-rgt">

      <div class="connect">
        <h2>Connect with us:</h2>
        <ul>
          <li><a href="#" title=""><img src="../images/icon-gtalk.png" alt="" /></a></li>
          <li><a href="#" title=""><img src="../images/icon-skype.png" alt="" /></a></li>
          <li><a href="#" title=""><img src="../images/icon-people.png" alt="" /></a></li>
        </ul>
      </div>
      <!--News and Press-->
      <div class="news-outer">
        <h2>News and Press:</h2>
        <div class="neswbox">
          <p>The work has been great and has required little further direction to complete all of the tasks assigned. The provider is always thinking what is best for the project<br />...</p>
          <a href="web-developement.html" title="Web Developement" class="more">more</a>
        </div>
        <div class="neswbox">
          <p>Oseror did an excellent job on our project. They gave us more than we expected without demand extra<br />...</p>
          <a href="web-developement.html" title="Web Developement" class="more">more</a>
        </div>
      </div>
      <!--/News and Press-->

      <!--Free Quote-->
      <div class="free-quote">
        <div class="quote-caption">
          <h2>Free Quote Now:</h2>
        </div>
        <form action="#" method="post" id="Quote">
          <div class="formouter">
            <div class="label-sp">
              <div class="label-title"><label>Name:</label></div>
              <div class="label-txt"><input type="text" id="name" name="name" /></div>
            </div>
            <div class="label-sp">
              <div class="label-title"><label>Phone:</label></div>
              <div class="label-txt"><input type="text" id="phone" name="phone" /></div>
            </div>
            <div class="label-sp">
              <div class="label-title"><label>Mobile:</label></div>
              <div class="label-txt"><input type="text" id="mobile" name="mobile" /></div>
            </div>
            <div class="label-sp">
              <div class="label-title"><label>Phone:</label></div>
              <div class="label-txt"><input type="text" id="email" name="email" /></div>
            </div>
            <div class="label-sp">
              <div class="label-txt">
                <input type="submit" name="submit" id="submit" value="Submit" class="btnsubmit" />
              </div>
            </div>
          </div>
        </form>

      </div>
      <!--/Free Quote-->

    </div>

    <!--/Content Right-->

  </div>

</div>

